/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body, p, ul {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
div,
div:before,
div:after {
    box-sizing: border-box;
}
body {
    background: url(../img/body-background.jpg) no-repeat center center fixed;
    background-size: cover;
}
.layout-wrap {
    max-width: 1200px;
    min-width: 640px;
    margin: 0 auto;
    padding-top: 16px;
    font-family: arial ,"sans-sarif";        
}

header {
    position: absolute;
    background: black;
    width: 100%;
    height:70px;

}
header a img[src*="logo"] {
    margin-left: 1%;
    padding: 3px;
    border: 2px solid transparent;
}

header a:focus img[src*="logo"],
.search-box input:focus,
.tabs li a:focus {
    -webkit-box-shadow: 0px 0px 18px 3px rgba(230,35,28,1);
    -moz-box-shadow: 0px 0px 18px 3px rgba(230,35,28,1);
    box-shadow: 0px 0px 18px 3px rgba(230,35,28,1);
    border: 2px solid rgba(230,35,28,1);
    border-radius: 2px;
    outline: none;
   
}
.menu-caption:focus,
.action-list a:focus {
    -webkit-box-shadow:inset 0px 0px 11px 2px rgba(230,35,28,1);
    -moz-box-shadow:inset 0px 0px 11px 2px rgba(230,35,28,1);
    box-shadow:inset 0px 0px 11px 2px rgba(230,35,28,1);
    border: 1px solid rgba(230,35,28,1);
    border-radius: 2px;
    outline: none;
}

.search-box {
    float: right;
    margin-right: 1%;
    margin-top: 7px;
}
.page-body {
    position: relative;
    top: 70px;
    bottom: 10px;
    background-color: #9D9F9E;
  
}
.notifications {
    height: 30px;
    background: #ebebeb;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 1%;
    line-height: 2em;
}

nav {
    position: relative;
    z-index: 20;
}

.nav-section {
    width: 31.3333%;
    margin: 1% 1% 0; 
    float: left;
    cursor: pointer;
    border: 2px solid #9D9F9E;
   
}
.nav-section > p {
    text-align: center;
    color: #ebebeb; 
    padding-bottom: 60px;
    padding-top: 16px;

}
.nav-section:first-child {
    background: url(../img/icons/action-report-new.png) center 70px no-repeat #000;
}
.nav-section:nth-child(2) {
    background: url(../img/icons/action-report-top.png) center 70px no-repeat #000;
}
.nav-section:nth-child(3) {
    background: url(../img/icons/actions-help.png) center 70px no-repeat #000;
}
.menu-caption {
    background: rgba(235, 235, 235, 1); 
    padding: 0 16px;
    color: #333333;
    font-size: 0.9em;
    line-height: 2.5em;
    border: 1px solid transparent;
    transition: background .7s;
    -moz-transition: background .7s;
    -webkit-transition: background .7s;
}
.arrow-down {
    width: 0;
    position: relative;
    top: 15px;
    float: right;
    border-top: black solid 10px;
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-bottom: solid transparent 10px;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;    
}
.action-list li {
    border-bottom: 1px solid grey;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.action-list li a {     
    display: block;        
    background-color:  #ebebeb;
    padding: 0 16px;
    position: relative;
    height: 2.6em;
    line-height: 2.5em;
    border: 1px solid transparent;
}

.action-list {
    overflow: hidden;
    height: 0;
    max-height: 0;
    position: absolute;
    width: 100%;
    color: #333333;
    font-size: 0.9em;
    opacity: 1;   
    transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -webkit-transition: all 0.7s ease-out;
}
.menu {
    position: relative;
}
.nav-section:hover .arrow-down,
.menu-caption:focus .arrow-down,
.menu-caption.focused .arrow-down {
    top:5px;
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}
.nav-section:hover .menu-caption,
.menu-caption:focus,
.menu-caption.focused  {
    background: rgba(235, 235, 235, 0.9);
}
.nav-section:hover .action-list,
/*.nav-section:focus .action-list,*/
.action-list.focused  {
    height: auto;
    max-height: 200px;    
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
}
.action-list a:hover{
    background-color:  #E2B0B0;
}
.tabs ul{
    display: block;
    position: relative;
    margin-top: 1%;
}
.tabs ul li {
    float: left;
    /*height: 32px;*/
    width: 23%;
    margin: 1%;
    margin-bottom: 0;
}
.tabs li a {
    background-color: #646464;
    color: #ebebeb;
    font-size: 1em;
    line-height: 4em;
    display: block;
    text-align: center;
    width: 100%;
}
.tabs li a:hover,
.tabs li a:focus,
.tabs li a:visited:hover {
    background-color: #ebebeb;
    color: #646464;
}
:link :visited :hover :focus :active {
  background-color: #ebebeb;
  color: #646464;
}

#quick-reports,
#my-folders,
#my-team-folders,
#public-folders { 
    display: none;
    position: relative;
    width: 98%;
    margin: 1%;
    margin-top: 0;
    height: 400px;  
    background-color: #ebebeb;
}

#quick-reports:target,
#my-folders:target,
#my-team-folders:target,
#public-folders:target {
    display: block;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
